<html>

        <head>

            <title>Internal_email-29</title>

            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

            <meta name="viewport" content="width=device-width, initial-scale=1.0" />

            <style type="text/css">

                * {

                    -ms-text-size-adjust:100%;

                    -webkit-text-size-adjust:none;

                    -webkit-text-resize:100%;

                    text-resize:100%;

                }

                a{

                    outline:none;

                    color:#40aceb;

                    text-decoration:underline;

                }
                body{
                    font-family:Arial, Helvetica, sans-serif;,
                }
                a:hover{text-decoration:none !important;}

                .nav a:hover{text-decoration:underline !important;}

                .title a:hover{text-decoration:underline !important;}

                .title-2 a:hover{text-decoration:underline !important;}

                .btn:hover{opacity:0.8;}

                .btn a:hover{text-decoration:none !important;}

                .btn{

                    -webkit-transition:all 0.3s ease;

                    -moz-transition:all 0.3s ease;

                    -ms-transition:all 0.3s ease;

                    transition:all 0.3s ease;
					text-align:center;
					margin-left:auto;
					margin-right:auto;
					width:100px;
					display:block;

                }
                .btn_link{
                    width:134px;text-decoration:none; background-color:#c20430; color:white;display:block; padding:12px 10px 10px;
                }
                table td {border-collapse: collapse !important;}

                .ExternalClass, .ExternalClass a, .ExternalClass span, .ExternalClass b, .ExternalClass br, .ExternalClass p, .ExternalClass div{line-height:inherit;}

                @media only screen and (max-width:500px) {

                    table[class="flexible"]{width:100% !important;}

                    table[class="center"]{

                        float:none !important;

                        margin:0 auto !important;

                    }

                    *[class="hide"]{

                        display:none !important;

                        width:0 !important;

                        height:0 !important;

                        padding:0 !important;

                        font-size:0 !important;

                        line-height:0 !important;

                    }

                    td[class="img-flex"] img{

                        width:100% !important;

                        height:auto !important;

                    }

                    td[class="aligncenter"]{text-align:center !important;}

                    th[class="flex"]{

                        display:block !important;

                        width:100% !important;

                    }

                    td[class="wrapper"]{padding:0 !important;}

                    td[class="holder"]{padding:30px 15px 20px !important;}

                    td[class="nav"]{

                        padding:20px 0 0 !important;

                        text-align:center !important;

                    }

                    td[class="h-auto"]{height:auto !important;}

                    td[class="description"]{padding:30px 20px !important;}

                    td[class="i-120"] img{

                        width:120px !important;

                        height:auto !important;

                    }

                    td[class="footer"]{padding:5px 20px 20px !important;}

                    td[class="footer"] td[class="aligncenter"]{

                        line-height:25px !important;

                        padding:20px 0 0 !important;

                    }

                    tr[class="table-holder"]{

                        display:table !important;

                        width:100% !important;

                    }

                    th[class="thead"]{display:table-header-group !important; width:100% !important;}

                    th[class="tfoot"]{display:table-footer-group !important; width:100% !important;}

                }

				.content{
					width:600px;
					margin-left:auto;
					margin-right:auto;
					margin-top:50px;
				}
				.title{
					font:25px/30px verdana;
					color:#c20430;
					padding:10 0 40px;
					text-align:center;
				}

				table{
					border-collapse: collapse;
					width:80%;
					margin-left:auto;
					margin-right:auto;

				}
				table tr{
					border-bottom:1px solid black;
					text-align:left;
				}

				table td{
					text-align:left;
				}
				table th{
					text-align:left;
				}


            </style>

        </head>
        <body>
			<div class="content">
				<img src="https://i.ibb.co/1z3S8Mr/Captura-de-pantalla-2020-01-29-a-las-9-53-37.png" border="0" width="100%" />
			</div>
			<div class="content title">
				{{titulo}}
			</div>
			<div class="content">
				<p>{{frase_body}}</p>
				<p>Para cualquier consulta contacte con  <a href="mailto:{{mail_contacto}}"> {{mail_contacto}}.</a></p>
			</div>

			<div class="content">
				{{{lista_body}}}
			</div>
			<div class="content">
				<div class="btn">
					<a target="_blank" class="btn_link" href="http://dashboard.nimgenetics.com/">Descarga los Tracks</a>
				</div>
			</div>

        </body>
</html>